.home-browse-creation {
  margin-top: 200px;
  margin-bottom: 100px;
  box-shadow: rgb(98, 98, 98) 0px 10px 30px 0px;
}

.home-browse-creation-content,
.home-create-account {
  background-color: var(--tertiary-color);
}

.home-browse-creation-btn,
.home-browse-creation-btn:hover {
  background: var(--linear-gradient);
  color: var(--font-secondary-color);
  width: 260px;
}

.home-browse-creation-btn:hover {
  transform: scale(1.03);
}

.home-browse-creation-img {
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.15);
  height: 370px;
}

.home-choose-us .home-choose-us-p {
  font-size: 14px;
}

.home-choose-us {
  background: var(--linear-gradient);
  box-shadow: rgb(98, 98, 98) 0px 10px 30px 0px;
}

.home-create-account {
  box-shadow: rgb(98, 98, 98) 0px 10px 30px 0px;
}

.review-google-img {
  width: 20px;
}

.home-stars {
  color: var(--primary-color);
}

.reviews-top {
  margin-top: 90px;
}

@media (max-width: 768px) {
  .home-browse-creation-p {
    font-size: 13px;
  }

  .home-browse-creation-img {
    height: 250px;
  }

  .home-browse-creation-img-div {
    max-height: 400px;
  }
  .home-review-card {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .home-browse-creation-img-div {
    max-width: 700px;
  }
  .home-review-card {
    min-height: 330px;
    height: 300px;
  }

  .home-review-comment {
    font-size: 16px;
  }
  .home-choose-us-height {
    min-height: 290px;
  }
}

@media (min-width: 1024px) {
  .home-choose-us-height {
    min-height: 250px;
  }

  .home-review-card {
    min-height: 250px;
    height: 200px;
  }
}
