.footer {
  background: var(--linear-gradient);
}

.footer-logo {
  height: 80px;
  display: flex;
  align-items: center;
}

.footer-logo img {
  height: 100%;
  width: auto;
}

.footer-cursor-pointer {
  cursor: pointer;
}

@media (max-width: 840px) {
  footer {
    margin-bottom: 80px;
  }
}
